<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>validate</title>
    <!--Cs-->
    <link rel="stylesheet" href="./../css/main.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Gurajada" rel="stylesheet">
  </head>
  <body>
    <div class="container center">
      <div class="row">
        <!-- target -->
        <div class="col s12 center" id="target">
          <!-- logo -->
          <div id="logo-airpl" class="row center col m5">
             <img class="responsive-img" id="logo" src="./../assets/images/target.png" alt="airplane">
              <h2 class="white-text">Valida los datos de tu tarjeta</h2>
          </div>
          <!-- Form -->
          <div class="row col m7 center" id="form-target"> 
            <form id="white">
              <div class="form-group">
                  <label for="cn">Número de tarjeta</label>
                  <input id="cn" name="cn" maxlength="16" required/>
              </div>
              <div class="form-group">
                  <label for="month">Mes de vencimiento</label>
                  <input id="month-val" name="exp-month" maxlength="2" required/>
                  <label for="year">Año de vencimiento</label>
                  <input id="year-val" name="exp-year" maxlength="2" required/>
              </div>
              <div class="form-group">
                  <label for="cvv">CVV</label>
                  <input id="cvv" name="cvv" maxlength="3" required/>
              </div>
              <div class="form-group">
                  <label for="name">Nombre completo</label>
                  <input id="name-val" type="text" name="name" pattern="[A-Za-z ]{2,30}" required/>
              </div>
                <input id="btn" class="pulse btn blue" type="submit" value="Pagar" />
            </form>
           </div>
          </div>
        </div>  
      </div>   
    </div>  
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minifi cript -->
    <script></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   <!--JS-->
   <script type="text/javascript" src="./../js/app.js"></script>
   <script type="text/javascript" src="./../js/jquery.js"></script>
  </body>
</html>